
APPPREFIX_LOG_LEVEL=info

APPPREFIX_API_DISABLE_DOCS=false

APPPREFIX_DB_PATH=./data/db.sqlite
APPPREFIX_DB_AUTO_MIGRATE=true

APPPREFIX_CONFIG_BASE_DIR=./config

APPPREFIX_APP_URL=http://localhost:12520
